.App {
  text-align: center;
  display: flex;
  height: 20rem;
  background-color: black;
}

.App button{
  height: fit-content;
  width: fit-content;
  margin: 0.5rem;
}

.App select{
  height: fit-content;
  margin: 0.5rem;
}

.App .cylinder{
  width: 2rem;
  position: relative;
  background-color: #D35400;
  margin: 0 0.5rem;
  color: white;
}
